.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  #head-section {
    background-image: url("assets/pinkoffice4.png");
    background-size: cover;
    height: 600px;
  }

  .bd-placeholder-img-lg {
  font-size: 3.5rem;
  }
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color:rgb(196, 65, 87);
}

body {
  background-color: lightgrey;
}

#avatar {
  width: 200px;
  float: left;
  margin-right: 20px;
}